#### Import Packages & Load Data

In [5]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
import statsmodels.api as sm
import pandas as pd

In [40]:
df = pd.read_excel("input.xlsx", sheet_name="animal_beating", index_col="Animal")

In [30]:
df

                  Total  Male  Female
Animal
Rat                0.72  0.76    0.68
House cat          0.69  0.74    0.64
Medium sized dog   0.49  0.60    0.39
Large dog          0.23  0.31    0.15
Kangaroo           0.14  0.17    0.11
Eagle              0.30  0.38    0.23
Grizzly Bear       0.06  0.07    0.06
Wolf               0.12  0.16    0.09
Lion               0.08  0.07    0.08
Gorilla            0.08  0.09    0.08
Chimpanzee         0.17  0.22    0.12
King Cobra         0.15  0.23    0.08
Elephant           0.08  0.09    0.08
Crocodile          0.09  0.10    0.08
Goose              0.61  0.71    0.51

## Perform Chi-Squared Test

In [41]:
# Perform Chi-Squared Analysis on the diferences of gender and belief in beating an animal in a fight
table = sm.stats.Table(df.loc[:,["Male","Female"]])

In [43]:
# See the counts of each gender in belief of 
print(table.table_orig)

                  Male  Female
Animal
Rat                453     427
House cat          441     402
Medium sized dog   358     245
Large dog          185      94
Kangaroo           101      69
Eagle              226     144
Grizzly Bear        42      38
Wolf                95      57
Lion                42      50
Gorilla             54      50
Chimpanzee         131      75
King Cobra         137      50
Elephant            54      50
Crocodile           60      50
Goose              423     320

In [44]:
print(table.fittedvalues)

                        Male      Female
Animal
Rat               500.865326  379.134674
House cat         479.806216  363.193784
Medium sized dog  343.206581  259.793419
Large dog         158.797075  120.202925
Kangaroo           96.758074   73.241926
Eagle             210.591103  159.408897
Grizzly Bear       45.533211   34.466789
Wolf               86.513102   65.486898
Lion               52.363193   39.636807
Gorilla            59.193175   44.806825
Chimpanzee        117.248020   88.751980
King Cobra        106.433882   80.566118
Elephant           59.193175   44.806825
Crocodile          62.608166   47.391834
Goose             422.889701  320.110299

In [24]:
print(table.resid_pearson)

                      Male    Female
Animal
Rat              -2.138753  2.458240
House cat        -1.771611  2.036255
Medium sized dog  0.798529 -0.917814
Large dog         2.079354 -2.389969
Kangaroo          0.431240 -0.495659
Eagle             1.061822 -1.220437
Grizzly Bear     -0.523607  0.601824
Wolf              0.912448 -1.048750
Lion             -1.432124  1.646055
Gorilla          -0.674990  0.775820
Chimpanzee        1.270026 -1.459742
King Cobra        2.962786 -3.405368
Elephant         -0.674990  0.775820
Crocodile        -0.329625  0.378864
Goose             0.005364 -0.006165

In [42]:
print(table.standardized_resids)

                      Male    Female
Animal
Rat              -3.595573  3.595573
House cat        -2.964816  2.964816
Medium sized dog  1.298699 -1.298699
Large dog         3.261684 -3.261684
Kangaroo          0.668644 -0.668644
Eagle             1.682140 -1.682140
Grizzly Bear     -0.804281  0.804281
Wolf              1.412092 -1.412092
Lion             -2.202528  2.202528
Gorilla          -1.039389  1.039389
Chimpanzee        1.976692 -1.976692
King Cobra        4.602078 -4.602078
Elephant         -1.039389  1.039389
Crocodile        -0.507892  0.507892
Goose             0.008868 -0.008868

In [49]:
output = pd.concat([table.table_orig, table.fittedvalues, table.standardized_resids],axis=1)

In [51]:
output.columns = ["Male","Female","Expected Male","Expected Female","Std Res Male","Std Res Female"]

In [53]:
output.to_csv("output.csv")